<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>{{ page_title }}</title>

    <link rel="icon" type="image/x-icon" href="/bacs350/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body style="background-color: #2D5166;">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="logo col-sm-2">
                    <div class="float-left">
                        <img class="img-rounded img-responsive"
                        src="/bacs350/images/Logo.png"
                        alt="MB Logo" width="150">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h1>UNC BACS 350</h1>
                    <h2>Superhero Registration App</h2>
                </div>
            </div>
        </div>
    </header>

    <main>

        {{ content }}

    </main>
</body>

</html>