<ul>
    <li><a href="/">Project #1 - Bluehost Web Hosting</a></li>
    <li><a href="/bacs350">Project #2 - Home Page</a></li>
    <li><a href="/bacs350/superhero">Project #3 - Superhero Gallery</a></li>
    <li><a href="/bacs350/planner">Project #4 - Project Planner</a></li>
    <li><a href="/bacs350/docman">Project #5 - Document App</a></li>
    <li><a href="/bacs350/subscriber">Project #6 - Subscriber Database</a></li>
    <li><a href="/bacs350/superhero">Project #7 - Superhero Database</a></li>
    <li><a href="/bacs350/notes">Project #8 - Notes Database</a></li>
    <li><a href="/bacs350/review">Project #9 - Review Manager App</a></li>
    <li><a href="/bacs350/review">Project #10 - Review Manager App</a></li>
    <li><a href="/bacs350/slides">Project #11 - Slide Show App</a></li>
</ul>