<ul>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/01">Skill #1 - Web Hosting</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/02">Skill #2 - FTP</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/03">Skill #3 - GitHub</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/04">Skill #4 - Share Code</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/05">Skill #5 - Apache</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/06">Skill #6 - Database</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/07">Skill #7 - Dev Workflow</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/08">Skill #8 - Data Views</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/09">Skill #9 - Logging</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/10">Skill #10 - Render Templates</a></li>
    <li><a href="https://shrinking-world.com/unc/bacs350/skills/11">Skill #11 - MVC Design Pattern</a></li>
</ul>