<div class="card">

    <div class="card-header">
        [{{ id }}]
    </div>

    <div class="card-body card-padding">
        <table class='table table-hover'>
            <tr><td>Designer:</td><td>{{ designer }}</td></tr>
            <tr><td>URL:</td><td>{{ url }}</td></tr>
            <tr><td>Date:</td><td>{{ date }}</td></tr>
            <tr><td>Score:</td><td>{{ score }}</td></tr>
            <tr><td>Report:</td><td>{{ report }}</td></tr>
        </table>
    </div>

    <p>
        <a href="index.php?action=edit&id={{ id }}" class="button">
            Edit
        </a>
        <a class="button" href="index.php?action=remove&id={{ id }}">
            Delete
        </a>
    </p>

</div>