body {
    padding: 2em;
}

header {
    border: 5px solid #F6B018;
    background-color: #2D5166;
    font-family: sans-serif;
    padding: .5em;
}

header a {
    color: white;
}

header a:hover {
    color: #F6B018;
}

header h1 {
    color: #F6B018;
    border: none;
    padding: 0;
    margin: 20px 0;
    box-shadow: none;
    text-align: left;
}

header h2 {
    color: white;
    background-color: #2D5166;
    box-shadow: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

header img {
    float: right;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2D5166;
}

/*h2 {*/
/*    color: #F6B018;*/
/*    border: 2px solid #F6B018;;*/
/*}*/

pre {
    border: 1px solid #2D5166;
    padding: 1em;
    margin: 2em;
}

.card {
    margin: 20px;
    border: 1px solid #2D5166;
    width: 40%;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #2D5166;
}

.orange {
    color: orange;
}

.panel {
    border: 5px solid #2D5166;
    box-shadow: 2px 2px 5px black;
    margin: 3em;
    padding: 2em;
}

/****************************/
body {
    padding: 2em;
    font-family:sans-serif;
    background-color: #2D5166;
/*    #0E3D65 #F6B018*/
}

html {
    background-color: #2D5166;
}


h1 {
    color: #F6B018;
    font-weight: bold;
}

h2 {
    color: #F6B018;
}

hr {
    border: 1px solid #F6B018;
    width: 80%;
    margin: 30px auto;
}

img {
    border-radius: 20px;
}

pre {
    border: 1px solid #F6B018;
    box-shadow: 2px 2px 5px grey;
    padding: 1em;
    margin: 2em;
}

.card {
    margin: 20px;
    border: 1px solid #F6B018;
}

.card-header {
    padding: 10px;
    font-weight: bold;
    color: #0E3D65;
    background-color: #F6B018;
}

main {
    background-color: whitesmoke;
    border: 2px solid #F6B018;
    padding: 20px;
}

.button {
    background-color: #2D5166;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}


